*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(55, 44, 44);
    color: aliceblue;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

h1{
    font-weight: 900;
    text-align: center;
  
}
br{
    text-align: center;
    font-size: 30px;
}